<% show_profile ||= false %>

<li>
  <h1 class="overlay-title">Click to view question</h1>
  <a href="/questions/<%= answer["question_id"] %>"><div class="overlay"></div></a>

  <% if show_profile == true %>
    <div class="row">
      <div class="span2 profile">
        <img src="<%= answer['owner']['profile_image'] %>" /><br>
        <%= answer['owner']['display_name'] %>
      </div>
      <div class="span9">
        <%= answer["body"].html_safe %>
        <span class="pull-right"><b><%= Time.at(answer["creation_date"]).strftime("%Y-%m-%d %H:%M %Z") %></b></span>
      </div>
    </div>
  <% else %>
    <span class="pull-right"><b><%= Time.at(answer["creation_date"]).strftime("%Y-%m-%d %H:%M %Z") %></b></span>
    <%= answer["body"].html_safe %>
  <% end %>
</li>