<!-- <%= @question.inspect.html_safe %>-->

<% form_path = @assignment.id.nil? ? question_assignments_path(params[:id]) : question_assignment_path(params[:id], @assignment.id) %>


<%= form_for @assignment, :url => form_path, :class => "form-horizontal" do |form| %>
<div class="row">
  <div class="span8">
    <h2><%= @question["title"] %></h2>
    <br><br>
    <%= @question["body"].html_safe %>
  </div>
  <div class="span4">
    <div class="well">
      Date created : <%= Time.at(@question["creation_date"]).strftime("%Y-%m-%d %H:%M %Z") %><br>
      <% if not @question["last_edit_date"].nil? %>
        Date updated : <%= Time.at(@question["last_edit_date"]).strftime("%Y-%m-%d %H:%M %Z") %>
      <% end %>

      
        <fieldset>
          <legend>Manage question</legend>

          <div class="control-group question-management">
            <div class="row">
              <div class="span1">
                <label class="control-label" for="optionsCheckbox">Owner</label>
              </div>
              <div class="span2  pull-right">
                <div class="controls">
                  <%= form.select(:user_id, User.all.collect {|p| [ p.display_name, p.id ] }, {:prompt => 'Select User'} ) %>
                </div>
              </div>
            </div>

            <br>
            <div class="row">
              <div class="span1">
                <label class="control-label" for="optionsCheckbox">Priority</label>
              </div>
              <div class="span2 pull-right">
                <div class="controls">
                  <%= form.select(:priority, %w{High Medium Low}, {:prompt => 'Select Priority'} ) %>
                </div>
              </div>
            </div>

            <br>
            <div class="row">
              <div class="span1">
                <label class="control-label" for="optionsCheckbox">Status</label>
              </div>
              <div class="span2 pull-right">
                <div class="controls">
                  <%= form.select(:status, %w{Open Pending Closed}, {:prompt => 'Select Status'} ) %>
                </div>
              </div>
            </div>

          </div>

          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </fieldset>

    </div>
  </div>
</div>

  <div class="row">
    <div class="span12">
      <div class="well">
        <h4><%= @question["answer_count"] %> answers. <a id="load-answers" href="#">Show</a></h4>
        <div id="answers"></div>
      </div>
    </div>
  </div>

  <h2>Notes</h2>

  <% @assignment.notes.each do |note| %>
    <%= note.content %>
    <%= note.created_at %>
  <% end %>

  <%= form.fields_for :notes do |note_form| %>
    <% if note_form.object.new_record? %>
      <%= note_form.label :content %>
      <%= note_form.text_area :content, :cols=>180, :rows=>5  %>
    <% end %>
  <% end %>

  <button type="submit" class="btn btn-primary">Save changes</button>

<% end %>
